body{

    background:url(background.jpg) ;
    background-size: cover;
}
.g{

    width: 300;
   height: 35px;
   background-color: rgb(226, 226, 241);
  
   font-size: 20;
}

.c{
   
    width: 300;
    height: 35px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}
form{
    padding: 20px;
}
