body{

    background:url(background2.jpg) ;
    background-size: cover;
}
table{
    
}


.n{

    width: 300;
   height: 40px;
   background-color: rgb(226, 226, 241);
  
   font-size: 20;
}

.m{
   
    width: 300;
    height: 40px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}
.c{
   
    width: 300;
    height: 40px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}

.zz{
    padding-top: 15%;
}