body{

    background:url(background2.jpg) ;
    background-size: cover;
}
table{
    
}


.l1{

    width: 300;
   height: 40px;
   background-color: rgb(226, 226, 241);
  
   font-size: 20;
}

.l2{
   
    width: 300;
    height: 40px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}
.l3{
   
    width: 300;
    height: 40px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}
.l4{
   
    width: 300;
    height: 40px;
    background-color: rgb(226, 226, 241);
    font-size: 20;
    
}
.general{
    padding-top: 15%;
}
